---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import ExperienceIcon from "../icons/ExperienceIcon.astro";
import ProjectsIcon from "../icons/ProjectsIcon.astro";
import AboutMeIcon from "../icons/AboutMeIcon.astro";
import SocialNetwork from "../components/SocialNetwork.astro";
import Experience from '../components/Experience.astro';
import SectionContainer from "../components/SectionContainer.astro";
import Footer from "../components/Footer.astro";
import Projects from '../components/Projects.astro';
import Technologies from '../components/Technologies.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout 
	title="Porfolio de Antonio Var칩n - Desarrollador y programador de Software"
	description="Contrata a Antonio Var칩n para tu equipo de desarrollo, resolutivo y apasionado por la programaci칩n. El trabajo en equipo, la asertividad y la adaptabilidad son cualidades muy presentes en su persona."
>
	<main class="px-5 text-white">
		<SectionContainer id="top" class="py-44 pb-22 relative">
			<img 
			class="rounded-full w-65 h-65 -mb-15 img-mask-bottom z-5" 
			src="/foto.png" 
			alt="foto Antonio Var칩n"
			/>
			<h1 class="relative text-white text-3xl sm:text-4xl md:text-5xl font-bold flex flex-row gap-x-4 pb-6 md:pb-10 z-10">
				Hola, Soy Antonio Var칩n
				<a
					href="https://www.linkedin.com/in/antonio-jose-varon-fernandez/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center ">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-lg md:text-xl text-wrap">
				<span class="opacity-80">7 a침os de experiencia como dise침ador gr치fico, dando un vuelco a mi carrera para dedicarme a </span> <b>Programar</b>.
				<p><span class="opacity-80">Tras varios a침os de aprendizaje autodidacta y diversos proyectos personales desarrollados <i class="opacity-50">(con otros tantos en camino)</i>
				me decid칤 por obtener el t칤tulo oficial de Desarrollador de Aplicaciones Multiplataforma.</span> De Granada, en Espa침a. 
			</h2>

			<nav class="flex flex-wrap gap-x-4 mt-6 md:mt-10 justify-center items-center">
				<div class ="flex gap-x-4 mb-4">
					<SocialNetwork href="https://www.linkedin.com/in/antonio-jose-varon-fernandez/">
						<LinkedInIcon class="size-5 lg:size-6" />
						LinkedIn
					</SocialNetwork>
					<SocialNetwork href="https://github.com/AntonioVaron">
						<GitHubIcon class="size-5 lg:size-6" />
						GitHub
					</SocialNetwork>
				</div>

				<div class="mb-4">
					<SocialNetwork id="email" copy={true} >
						
						<MailIcon class="size-5 lg:size-6" />
						antoniojvaron@gmail.com
					</SocialNetwork>
				</div>
			</nav>
		</SectionContainer>

		<SectionContainer>
			<Technologies />
		</SectionContainer>


		<SectionContainer id="experience">
			
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				<ExperienceIcon class="size-6"/>
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

				<SectionContainer id="projects">
			
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center mt-30">
				<ProjectsIcon class="size-6"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer class="flex flex-col justify-center items-center">
			<h2 class="text-2xl font-semibold text-blue-300 mb-2">
				쮹uscas m치s proyectos?
			</h2>
			<p class="flex mt-5 items-center gap-x-2">
				<span class="text-gray-400">춰칄chale un vistazo a </span><SocialNetwork href="https://github.com/AntonioVaron?tab=repositories">
					<GitHubIcon class="size-5 lg:size-6" />
						mi GitHub
					</SocialNetwork>
					<span class="text-gray-400">!</span>
			</p>
		</SectionContainer>
		<SectionContainer id="about-me" class="mb-14">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center mt-30">
				<AboutMeIcon class="size-8"/>
				Sobre m칤
			</h2>
			<AboutMe />
		</SectionContainer>
		<Footer />
	</main>

	<script type="text/javascript">
		function copyToClipboard() {
			const email = document.getElementById("email").textContent;
			console.log(email)
			navigator.clipboard.writeText(email).then(() => {

				const toast = document.getElementById('toast');
				toast.classList.remove('opacity-0', 'translate-y-5');
				toast.classList.add('opacity-100', 'translate-y-0');

				setTimeout(() => {
					toast.classList.remove('opacity-100', 'translate-y-0');
					toast.classList.add('opacity-0', 'translate-y-5');
				}, 2000);
			}).catch(err => {
				console.error("Error al copiar: ", err);
			});
		}
	</script>

	<div id="toast"
  		class="fixed bottom-5 right-5 bg-gray-800 text-white px-4 py-2 rounded-lg shadow-lg opacity-0 translate-y-5 transition-all duration-300 z-50 ml-1 mr-1">
  		游늶 Email copiado al portapapeles
	</div>
</Layout>
