<section class="flex">
    <div class="[&>p]:mb-4 [&>p>strong]:text-gray-200 md:[&>p]:-mr-124 relative z-10 [&>p]:text-gray-400 [&>p>strong]:text-semibold text-pretty">
        <p class="-mr-75">
            Me llamo Antonio José Varón. Empecé a interesarme muy pronto por la programación en paralelo al diseño y a los 16 años tuve
            que tomar una decisión. Tras mis primeros años de experiencia laboral como diseñador gráfico
            me dí cuenta de que programar me motiva más que diseñar. Ahora quiero cambiar mi trayectoria laboral.
        </p>

        <p class="-mr-115">
            Durante mi trabajo en el desarrollo de un simulador de presostato para Haier Europe, disfruté mucho mi participación,
            ayudé mucho a mis compañeros (y ellos a mí). <strong>Sentí la total confianza que mi equipo volcó sobre mí</strong> y
            la satisfacción de todos en el resultado del proyecto.
        </p>

        <p class="-mr-115">
            Mi objetivo como programador es verme involucrado en proyectos que funcionen, en aplicaciones de las que se hable y sentirme
            orgulloso de ellas mejorándolas y perfeccionándolas. Mi previa experiencia me facilita el acceso a recursos y entendimiento
            del apartado visual de mis proyectos.
        </p>
    </div>
    <img class="img-mask-right z-5 md:h-100 h-55 rounded-full object-cover object-left" src="/me.png" alt="Foto sobre mí">
</section>
