  <ul
    class="flex items-center justify-center md:justify-start [&_li]:mx-4 md:[&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
  >
    <li><img src="/logo_html.png" alt="HTML" class="size-20" /></li>
    <li><img src="/logo_astro.png" alt="Astro" class="size-20" /></li>
    <li><img src="/logo_tailwind.png" alt="Tailwind" class="size-20" /></li>
    <li><img src="/logo_java.png" alt="Java" class="size-20" /></li>
    <li><img src="/logo_csharp.png" alt="C#" class="size-20" /></li>
    <li><img src="/logo_unity.webp" alt="Unity 3D" class="size-20" /></li>
    <li><img src="/logo_python.png" alt="Python" class="size-20" /></li>
  </ul>