---
import TechList from "./TechList.astro"
---
<div
  class="inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)] w-[250px] mx-[calc((100%-250px)/2)] md:w-[750px] md:mx-[calc((100%-750px)/2)] mb-20 bg-white/20 py-4"
>
    <TechList />
    <TechList />
</div>
